{% extends "base.html" %}

{% block title %}О компании{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">О компании</h1>
    <div class="bg-white p-6 rounded-lg shadow-md space-y-4">
        <p>Компания «Vibe&Chill» — онлайн-магазин, специализирующийся на товарах для стримеров, косплееров, представителей альтернативных субкультур и творческих пользователей. Ассортимент ориентирован на аудиторию, активно вовлечённую в цифровую культуру: аксессуары для стриминга, световое оборудование, элементы декора для комнат, косплей-атрибутика, одежда и тематические предметы мерча.</p>
        <p>Мы осуществляем деятельность в формате электронной коммерции и используем интернет-магазин как основной канал продаж. Средний ежемесячный оборот составляет 200–250 тыс. рублей, что определяет потребность в модернизации платформы для увеличения стабильности, расширения функционала и дальнейшего роста продаж.</p>
    </div>
</div>
{% endblock %}